
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holidays List</title>
</head>
<body>
    <h1>Data from JSON</h1>
    <table>
       <tr>
        <th>Holiday Name</th>
        <th>Start Date</th>
        <th>End Date</th>
       </tr>
       {% for row in data %}
       <tr>
        <td>{{row.holidayName}}</td>
        <td>{{row.startDate}}</td>
        <td>{{row.endDate}}</td>
       </tr>
       {% endfor %}
    </table>
    <a href="/">Home Page</a>
</body>
</html>